/* 日期格式 */
.input_date_box {
	border: 1px solid #bac7d2;
	width: 167px;
	line-height: 25px;
	padding: 4px 7px;
	outline: none;
}

.myselfcancel {
	position: absolute;
	top:150px; right:150px;
	width:50px;
}


.uploadify {
	padding-top:10px;
}

.login-pop-up {
	padding: 0;
	overflow-x: hidden;
	overflow-y: hidden;
	background: inherit;
}

.login-page {
	background: #fff;
	padding: 22px;
	position: relative;
}