/* 日期格式 */
.input_date_box {
	border: 1px solid #bac7d2;
	width: 167px;
	line-height: 25px;
	padding: 4px 7px;
	outline: none;
}

.myselfcancel {
	position: absolute;
	top: 150px;
	right: 150px;
	width: 50px;
}

.uploadify {
	padding-top: 10px;
}

#index_main_right_box {
	width: 85%;
	height: 100%;
	overflow: hidden;
	display: inline;
	float: left;
	padding-bottom: 10px
}