@charset "utf-8";
/*标签页切换*/
.error {
	max-width:25px;
	white-space:nowrap;
	color: white;
	line-height: 30px;
	padding-left: 5px;
	display: inline-block;
	position: absolute;
	top:1px; right:-10px;
	/* background: url("../images/error.png") left no-repeat; */
	z-index: 1;
	overflow:hidden;
}
.error label{
	width:25px;
	height:25px;
	overflow:hidden;
}

.error img{
	width: 100%;
	height:100%;
	max-width:25px;
	max-height:25px;
	position: absolute;
	left:0;
	top:5px;
	cursor: pointer;
}

.error_hid{
	white-space:nowrap;
	color: white;
	position: absolute;
	z-index: 2;
	background-color:#fff;
}

.error-high {
	line-height: 33px;
}

.formError {
	position: absolute;
	top: 300px;
	left: 300px;
	padding-bottom: 15px;
	display: block;
	z-index: 5000;
}

.formError .formErrorContent {
	width: 100%;
	background: #fff;
	color: #000;
	border:2px solid red;
	font-family: tahoma;
	font-size: 12px;
	box-shadow: 1px 1px 6px #000;
	-moz-box-shadow: 1px 1px 6px #000;
	-webkit-box-shadow: 1px 1px 6px #000;
	padding: 4px 10px 4px 10px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

.formError .formErrorArrow {
	position: absolute;
	bottom: 0;
	left: 20px;
	width: 15px;
	height: 15px;
}

.formError .formErrorArrow div {
	box-shadow: 1px 4px 5px #000;
	-moz-box-shadow: 1px 4px 5px #000;
	-webkit-box-shadow: 1px 1px 5px #000;
	font-size: 0px;
}

.formError .formErrorArrow .line10 {
	width: 15px;
	height: 1px;
	background: red;
	margin: 0 auto;
	font-size: 0px;
	display: block;
}

.formError .formErrorArrow .line9 {
	width: 13px;
	height: 1px;
	background: red;
	margin: 0 auto;
	display: block;
}

.formError .formErrorArrow .line8 {
	width: 11px;
	height: 1px;
	background: red;
	margin: 0 auto;
	display: block;
}

.formError .formErrorArrow .line7 {
	width: 9px;
	height: 1px;
	background: #fff;
	margin: 0 auto;
	display: block;
}

.formError .formErrorArrow .line6 {
	width: 7px;
	height: 1px;
	background: #fff;
	margin: 0 auto;
	display: block;
}

.formError .formErrorArrow .line5 {
	width: 5px;
	height: 1px;
	background: #fff;
	margin: 0 auto;
	display: block;
}

.formError .formErrorArrow .line4 {
	width: 3px;
	height: 1px;
	background: #fff;
	margin: 0 auto;
	display: block;
}

.formError .formErrorArrow .line3 {
	width: 1px;
	height: 1px;
	background: #fff;
	margin: 0 auto;
	display: block;
}

a {
    cursor: pointer;
}