<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.org.oztt.dao.TConsCartDao">
	<resultMap id="BaseResultMap" type="com.org.oztt.entity.TConsCart">
		<id column="no" property="no" jdbcType="BIGINT" />
		<result column="goodsId" property="goodsid" jdbcType="VARCHAR" />
		<result column="customerNo" property="customerno" jdbcType="VARCHAR" />
		<result column="goodsSpecifications" property="goodsspecifications"
			jdbcType="VARCHAR" />
		<result column="quantity" property="quantity" jdbcType="DECIMAL" />
		<result column="ifGroup" property="ifgroup" jdbcType="CHAR" />
		<result column="groupNo" property="groupno" jdbcType="VARCHAR" />
		<result column="priceNo" property="priceno" jdbcType="VARCHAR" />
		<result column="purchaseCurrent" property="purchasecurrent" jdbcType="CHAR" />
		<result column="addCartTimestamp" property="addcarttimestamp"
			jdbcType="TIMESTAMP" />
		<result column="addTimestamp" property="addtimestamp" jdbcType="TIMESTAMP" />
		<result column="addUserKey" property="adduserkey" jdbcType="VARCHAR" />
		<result column="updTimestamp" property="updtimestamp" jdbcType="TIMESTAMP" />
		<result column="updUserKey" property="upduserkey" jdbcType="VARCHAR" />
		<result column="updPgmId" property="updpgmid" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		no, goodsId, customerNo, goodsSpecifications, quantity, ifGroup, groupNo,
		priceNo,purchaseCurrent,
		addCartTimestamp, addTimestamp, addUserKey, updTimestamp, updUserKey, updPgmId
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from t_cons_cart
		where no = #{no,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from t_cons_cart
		where no = #{no,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.org.oztt.entity.TConsCart">
		insert into t_cons_cart (no, goodsId, customerNo,
		goodsSpecifications, quantity, ifGroup,
		groupNo, priceNo, purchaseCurrent, addCartTimestamp,
		addTimestamp, addUserKey, updTimestamp,
		updUserKey, updPgmId)
		values (#{no,jdbcType=BIGINT}, #{goodsid,jdbcType=VARCHAR},
		#{customerno,jdbcType=VARCHAR},
		#{goodsspecifications,jdbcType=VARCHAR}, #{quantity,jdbcType=DECIMAL},
		#{ifgroup,jdbcType=CHAR},
		#{groupno,jdbcType=VARCHAR}, #{priceno,jdbcType=VARCHAR},#{purchasecurrent,jdbcType=CHAR},
		 #{addcarttimestamp,jdbcType=TIMESTAMP},
		#{addtimestamp,jdbcType=TIMESTAMP}, #{adduserkey,jdbcType=VARCHAR},
		#{updtimestamp,jdbcType=TIMESTAMP},
		#{upduserkey,jdbcType=VARCHAR}, #{updpgmid,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.org.oztt.entity.TConsCart">
		insert into t_cons_cart
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="no != null">
				no,
			</if>
			<if test="goodsid != null">
				goodsId,
			</if>
			<if test="customerno != null">
				customerNo,
			</if>
			<if test="goodsspecifications != null">
				goodsSpecifications,
			</if>
			<if test="quantity != null">
				quantity,
			</if>
			<if test="ifgroup != null">
				ifGroup,
			</if>
			<if test="groupno != null">
				groupNo,
			</if>
			<if test="priceno != null">
				priceNo,
			</if>
			<if test="purchasecurrent != null">
				purchaseCurrent,
			</if>
			<if test="addcarttimestamp != null">
				addCartTimestamp,
			</if>
			<if test="addtimestamp != null">
				addTimestamp,
			</if>
			<if test="adduserkey != null">
				addUserKey,
			</if>
			<if test="updtimestamp != null">
				updTimestamp,
			</if>
			<if test="upduserkey != null">
				updUserKey,
			</if>
			<if test="updpgmid != null">
				updPgmId,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="no != null">
				#{no,jdbcType=BIGINT},
			</if>
			<if test="goodsid != null">
				#{goodsid,jdbcType=VARCHAR},
			</if>
			<if test="customerno != null">
				#{customerno,jdbcType=VARCHAR},
			</if>
			<if test="goodsspecifications != null">
				#{goodsspecifications,jdbcType=VARCHAR},
			</if>
			<if test="quantity != null">
				#{quantity,jdbcType=DECIMAL},
			</if>
			<if test="ifgroup != null">
				#{ifgroup,jdbcType=CHAR},
			</if>
			<if test="groupno != null">
				#{groupno,jdbcType=VARCHAR},
			</if>
			<if test="priceno != null">
				#{priceno,jdbcType=VARCHAR},
			</if>
			<if test="purchasecurrent != null">
				#{purchasecurrent,jdbcType=CHAR},
			</if>
			<if test="addcarttimestamp != null">
				#{addcarttimestamp,jdbcType=TIMESTAMP},
			</if>
			<if test="addtimestamp != null">
				#{addtimestamp,jdbcType=TIMESTAMP},
			</if>
			<if test="adduserkey != null">
				#{adduserkey,jdbcType=VARCHAR},
			</if>
			<if test="updtimestamp != null">
				#{updtimestamp,jdbcType=TIMESTAMP},
			</if>
			<if test="upduserkey != null">
				#{upduserkey,jdbcType=VARCHAR},
			</if>
			<if test="updpgmid != null">
				#{updpgmid,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.org.oztt.entity.TConsCart">
		update t_cons_cart
		<set>
			<if test="goodsid != null">
				goodsId = #{goodsid,jdbcType=VARCHAR},
			</if>
			<if test="customerno != null">
				customerNo = #{customerno,jdbcType=VARCHAR},
			</if>
			<if test="goodsspecifications != null">
				goodsSpecifications = #{goodsspecifications,jdbcType=VARCHAR},
			</if>
			<if test="quantity != null">
				quantity = #{quantity,jdbcType=DECIMAL},
			</if>
			<if test="ifgroup != null">
				ifGroup = #{ifgroup,jdbcType=CHAR},
			</if>
			<if test="groupno != null">
				groupNo = #{groupno,jdbcType=VARCHAR},
			</if>
			<if test="priceno != null">
				priceNo = #{priceno,jdbcType=VARCHAR},
			</if>
			<if test="purchasecurrent != null">
				purchaseCurrent = #{purchasecurrent,jdbcType=CHAR},
			</if>
			<if test="addcarttimestamp != null">
				addCartTimestamp = #{addcarttimestamp,jdbcType=TIMESTAMP},
			</if>
			<if test="addtimestamp != null">
				addTimestamp = #{addtimestamp,jdbcType=TIMESTAMP},
			</if>
			<if test="adduserkey != null">
				addUserKey = #{adduserkey,jdbcType=VARCHAR},
			</if>
			<if test="updtimestamp != null">
				updTimestamp = #{updtimestamp,jdbcType=TIMESTAMP},
			</if>
			<if test="upduserkey != null">
				updUserKey = #{upduserkey,jdbcType=VARCHAR},
			</if>
			<if test="updpgmid != null">
				updPgmId = #{updpgmid,jdbcType=VARCHAR},
			</if>
		</set>
		where no = #{no,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.org.oztt.entity.TConsCart">
		update t_cons_cart
		set goodsId = #{goodsid,jdbcType=VARCHAR},
		customerNo = #{customerno,jdbcType=VARCHAR},
		goodsSpecifications = #{goodsspecifications,jdbcType=VARCHAR},
		quantity = #{quantity,jdbcType=DECIMAL},
		ifGroup = #{ifgroup,jdbcType=CHAR},
		groupNo = #{groupno,jdbcType=VARCHAR},
		priceNo = #{priceno,jdbcType=VARCHAR},
		purchaseCurrent = #{purchasecurrent,jdbcType=CHAR},
		addCartTimestamp = #{addcarttimestamp,jdbcType=TIMESTAMP},
		addTimestamp = #{addtimestamp,jdbcType=TIMESTAMP},
		addUserKey = #{adduserkey,jdbcType=VARCHAR},
		updTimestamp = #{updtimestamp,jdbcType=TIMESTAMP},
		updUserKey = #{upduserkey,jdbcType=VARCHAR},
		updPgmId = #{updpgmid,jdbcType=VARCHAR}
		where no = #{no,jdbcType=BIGINT}
	</update>
	
	<select id="selectByParams" resultMap="BaseResultMap" parameterType="com.org.oztt.entity.TConsCart">
		select
		<include refid="Base_Column_List" />
		from t_cons_cart
		where 1 = 1
		<if test="goodsid != null">
			and goodsId = #{goodsid,jdbcType=VARCHAR}
		</if>
		<if test="customerno != null">
			and customerNo = #{customerno,jdbcType=VARCHAR}
		</if>
		<if test="goodsspecifications != null">
			and goodsSpecifications = #{goodsspecifications,jdbcType=VARCHAR}
		</if>
	</select>
	
	<delete id="deleteAllContCard" parameterType="java.lang.String">
		delete from t_cons_cart
		where customerNo = #{customerno,jdbcType=VARCHAR}
	</delete>
	
	<select id="getAllContCart" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from t_cons_cart
		where 1 = 1 and customerNo = #{customerno,jdbcType=VARCHAR}

	</select>
	
	
	<select id="getAllContCartForCookie" resultType="com.org.oztt.formDto.ContCartItemDto" parameterType="java.lang.String">
		select
		a.goodsId,
		b.goodsName,
		b.goodsThumbnail as goodsImage,
		a.quantity as goodsQuantity,
		(case when a.ifGroup = '1' then d.groupPrice 
		      else  c.goodsClassValue
		      end )* a.quantity  as  goodsPrice, 
		a.goodsSpecifications as goodsPropertiesDB
		from t_cons_cart a
		inner join t_goods b on a.goodsId = b.goodsId
		inner join t_goods_price c on a.goodsId = c.goodsId
		inner join t_goods_group d on a.goodsId = d.goodsId
		where 1 = 1 and a.customerNo = #{customerno,jdbcType=VARCHAR}
	</select>
	
	<select id="getAllContCartForBuy" resultType="com.org.oztt.formDto.ContCartItemDto" parameterType="java.lang.String">
		select
		a.goodsId,
		b.goodsName,
		b.goodsThumbnail as goodsImage,
		a.quantity as goodsQuantity,
		(case when a.ifGroup = '1' then d.groupPrice 
		      else  c.goodsClassValue
		      end )* a.quantity  as  goodsPrice, 
		a.goodsSpecifications as goodsPropertiesDB
		from t_cons_cart a
		inner join t_goods b on a.goodsId = b.goodsId
		inner join t_goods_price c on a.goodsId = c.goodsId
		inner join t_goods_group d on a.goodsId = d.goodsId
		where 1 = 1 and a.customerNo = #{customerno,jdbcType=VARCHAR}
		and a.purchaseCurrent = '1'
	</select>

	<delete id="deleteCurrentBuyGoods" parameterType="java.lang.String">
		delete from t_cons_cart
		where customerNo = #{customerNo,jdbcType=VARCHAR} and purchaseCurrent = '1'
	</delete>
	
</mapper>