<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.org.oztt.dao.TConsOrderDetailsDao" >
  <resultMap id="BaseResultMap" type="com.org.oztt.entity.TConsOrderDetails" >
    <id column="no" property="no" jdbcType="BIGINT" />
    <result column="orderNo" property="orderno" jdbcType="VARCHAR" />
    <result column="customerNo" property="customerno" jdbcType="VARCHAR" />
    <result column="goodsId" property="goodsid" jdbcType="VARCHAR" />
    <result column="groupMaxQuantity" property="groupmaxquantity" jdbcType="VARCHAR" />
    <result column="groupCurrentQuantity" property="groupcurrentquantity" jdbcType="DECIMAL" />
    <result column="groupComments" property="groupcomments" jdbcType="VARCHAR" />
    <result column="groupDesc" property="groupdesc" jdbcType="VARCHAR" />
    <result column="priceNo" property="priceno" jdbcType="VARCHAR" />
    <result column="unitPrice" property="unitprice" jdbcType="DECIMAL" />
    <result column="sumAmount" property="sumamount" jdbcType="DECIMAL" />
    <result column="addTimestamp" property="addtimestamp" jdbcType="TIMESTAMP" />
    <result column="addUserKey" property="adduserkey" jdbcType="VARCHAR" />
    <result column="updTimestamp" property="updtimestamp" jdbcType="TIMESTAMP" />
    <result column="updUserKey" property="upduserkey" jdbcType="VARCHAR" />
    <result column="updPgmId" property="updpgmid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    no, orderNo, customerNo, goodsId, groupMaxQuantity, groupCurrentQuantity, groupComments, 
    groupDesc, priceNo, unitPrice, sumAmount, addTimestamp, addUserKey, updTimestamp, 
    updUserKey, updPgmId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_cons_order_details
    where no = #{no,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_cons_order_details
    where no = #{no,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.org.oztt.entity.TConsOrderDetails" >
    insert into t_cons_order_details (no, orderNo, customerNo, 
      goodsId, groupMaxQuantity, groupCurrentQuantity, 
      groupComments, groupDesc, priceNo, 
      unitPrice, sumAmount, addTimestamp, 
      addUserKey, updTimestamp, updUserKey, 
      updPgmId)
    values (#{no,jdbcType=BIGINT}, #{orderno,jdbcType=VARCHAR}, #{customerno,jdbcType=VARCHAR}, 
      #{goodsid,jdbcType=VARCHAR}, #{groupmaxquantity,jdbcType=VARCHAR}, #{groupcurrentquantity,jdbcType=DECIMAL}, 
      #{groupcomments,jdbcType=VARCHAR}, #{groupdesc,jdbcType=VARCHAR}, #{priceno,jdbcType=VARCHAR}, 
      #{unitprice,jdbcType=DECIMAL}, #{sumamount,jdbcType=DECIMAL}, #{addtimestamp,jdbcType=TIMESTAMP}, 
      #{adduserkey,jdbcType=VARCHAR}, #{updtimestamp,jdbcType=TIMESTAMP}, #{upduserkey,jdbcType=VARCHAR}, 
      #{updpgmid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.org.oztt.entity.TConsOrderDetails" >
    insert into t_cons_order_details
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="no != null" >
        no,
      </if>
      <if test="orderno != null" >
        orderNo,
      </if>
      <if test="customerno != null" >
        customerNo,
      </if>
      <if test="goodsid != null" >
        goodsId,
      </if>
      <if test="groupmaxquantity != null" >
        groupMaxQuantity,
      </if>
      <if test="groupcurrentquantity != null" >
        groupCurrentQuantity,
      </if>
      <if test="groupcomments != null" >
        groupComments,
      </if>
      <if test="groupdesc != null" >
        groupDesc,
      </if>
      <if test="priceno != null" >
        priceNo,
      </if>
      <if test="unitprice != null" >
        unitPrice,
      </if>
      <if test="sumamount != null" >
        sumAmount,
      </if>
      <if test="addtimestamp != null" >
        addTimestamp,
      </if>
      <if test="adduserkey != null" >
        addUserKey,
      </if>
      <if test="updtimestamp != null" >
        updTimestamp,
      </if>
      <if test="upduserkey != null" >
        updUserKey,
      </if>
      <if test="updpgmid != null" >
        updPgmId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="no != null" >
        #{no,jdbcType=BIGINT},
      </if>
      <if test="orderno != null" >
        #{orderno,jdbcType=VARCHAR},
      </if>
      <if test="customerno != null" >
        #{customerno,jdbcType=VARCHAR},
      </if>
      <if test="goodsid != null" >
        #{goodsid,jdbcType=VARCHAR},
      </if>
      <if test="groupmaxquantity != null" >
        #{groupmaxquantity,jdbcType=VARCHAR},
      </if>
      <if test="groupcurrentquantity != null" >
        #{groupcurrentquantity,jdbcType=DECIMAL},
      </if>
      <if test="groupcomments != null" >
        #{groupcomments,jdbcType=VARCHAR},
      </if>
      <if test="groupdesc != null" >
        #{groupdesc,jdbcType=VARCHAR},
      </if>
      <if test="priceno != null" >
        #{priceno,jdbcType=VARCHAR},
      </if>
      <if test="unitprice != null" >
        #{unitprice,jdbcType=DECIMAL},
      </if>
      <if test="sumamount != null" >
        #{sumamount,jdbcType=DECIMAL},
      </if>
      <if test="addtimestamp != null" >
        #{addtimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="adduserkey != null" >
        #{adduserkey,jdbcType=VARCHAR},
      </if>
      <if test="updtimestamp != null" >
        #{updtimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="upduserkey != null" >
        #{upduserkey,jdbcType=VARCHAR},
      </if>
      <if test="updpgmid != null" >
        #{updpgmid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.org.oztt.entity.TConsOrderDetails" >
    update t_cons_order_details
    <set >
      <if test="orderno != null" >
        orderNo = #{orderno,jdbcType=VARCHAR},
      </if>
      <if test="customerno != null" >
        customerNo = #{customerno,jdbcType=VARCHAR},
      </if>
      <if test="goodsid != null" >
        goodsId = #{goodsid,jdbcType=VARCHAR},
      </if>
      <if test="groupmaxquantity != null" >
        groupMaxQuantity = #{groupmaxquantity,jdbcType=VARCHAR},
      </if>
      <if test="groupcurrentquantity != null" >
        groupCurrentQuantity = #{groupcurrentquantity,jdbcType=DECIMAL},
      </if>
      <if test="groupcomments != null" >
        groupComments = #{groupcomments,jdbcType=VARCHAR},
      </if>
      <if test="groupdesc != null" >
        groupDesc = #{groupdesc,jdbcType=VARCHAR},
      </if>
      <if test="priceno != null" >
        priceNo = #{priceno,jdbcType=VARCHAR},
      </if>
      <if test="unitprice != null" >
        unitPrice = #{unitprice,jdbcType=DECIMAL},
      </if>
      <if test="sumamount != null" >
        sumAmount = #{sumamount,jdbcType=DECIMAL},
      </if>
      <if test="addtimestamp != null" >
        addTimestamp = #{addtimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="adduserkey != null" >
        addUserKey = #{adduserkey,jdbcType=VARCHAR},
      </if>
      <if test="updtimestamp != null" >
        updTimestamp = #{updtimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="upduserkey != null" >
        updUserKey = #{upduserkey,jdbcType=VARCHAR},
      </if>
      <if test="updpgmid != null" >
        updPgmId = #{updpgmid,jdbcType=VARCHAR},
      </if>
    </set>
    where no = #{no,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.org.oztt.entity.TConsOrderDetails" >
    update t_cons_order_details
    set orderNo = #{orderno,jdbcType=VARCHAR},
      customerNo = #{customerno,jdbcType=VARCHAR},
      goodsId = #{goodsid,jdbcType=VARCHAR},
      groupMaxQuantity = #{groupmaxquantity,jdbcType=VARCHAR},
      groupCurrentQuantity = #{groupcurrentquantity,jdbcType=DECIMAL},
      groupComments = #{groupcomments,jdbcType=VARCHAR},
      groupDesc = #{groupdesc,jdbcType=VARCHAR},
      priceNo = #{priceno,jdbcType=VARCHAR},
      unitPrice = #{unitprice,jdbcType=DECIMAL},
      sumAmount = #{sumamount,jdbcType=DECIMAL},
      addTimestamp = #{addtimestamp,jdbcType=TIMESTAMP},
      addUserKey = #{adduserkey,jdbcType=VARCHAR},
      updTimestamp = #{updtimestamp,jdbcType=TIMESTAMP},
      updUserKey = #{upduserkey,jdbcType=VARCHAR},
      updPgmId = #{updpgmid,jdbcType=VARCHAR}
    where no = #{no,jdbcType=BIGINT}
  </update>
  
  <delete id="deleteByOrderNo" parameterType="java.lang.String" >
    delete from t_cons_order_details
    where orderNo = #{orderno,jdbcType=VARCHAR}
  </delete>
  
  <select id="selectByOrderId" resultMap="com.org.oztt.formDto.ContCartItemDto" parameterType="java.lang.String" >
    select 
    a.goodsId,
	b.goodsName,
	b.goodsThumbnail as goodsImage,
	a.groupCurrentQuantity as goodsQuantity,
	a.unitPrice as goodsPrice, 
	a.groupMaxQuantity as goodsPropertiesDB
    from t_cons_order_details a
    inner join t_goods b on a.goodsId = b.goodsId
    where a.orderNo = #{orderno,jdbcType=VARCHAR}
  </select>
</mapper>