<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.org.oztt.dao.TGoodsClassficationDao" >
  <resultMap id="BaseResultMap" type="com.org.oztt.entity.TGoodsClassfication" >
    <id column="no" property="no" jdbcType="BIGINT" />
    <result column="classId" property="classid" jdbcType="VARCHAR" />
    <result column="className" property="classname" jdbcType="VARCHAR" />
    <result column="sortOrder" property="sortorder" jdbcType="INTEGER" />
    <result column="fatherClassId" property="fatherclassid" jdbcType="VARCHAR" />
    <result column="openFlg" property="openflg" jdbcType="CHAR" />
    <result column="addTimestamp" property="addtimestamp" jdbcType="TIMESTAMP" />
    <result column="addUserKey" property="adduserkey" jdbcType="VARCHAR" />
    <result column="updTimestamp" property="updtimestamp" jdbcType="TIMESTAMP" />
    <result column="updUserKey" property="upduserkey" jdbcType="VARCHAR" />
    <result column="updPgmId" property="updpgmid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    no, classId, className, sortOrder, fatherClassId, openFlg, addTimestamp, addUserKey, 
    updTimestamp, updUserKey, updPgmId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_goods_classification
    where no = #{no,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_goods_classification
    where no = #{no,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.org.oztt.entity.TGoodsClassfication" >
    insert into t_goods_classification (no, classId, className, 
      sortOrder, fatherClassId, openFlg, 
      addTimestamp, addUserKey, updTimestamp, 
      updUserKey, updPgmId)
    values (#{no,jdbcType=BIGINT}, #{classid,jdbcType=VARCHAR}, #{classname,jdbcType=VARCHAR}, 
      #{sortorder,jdbcType=INTEGER}, #{fatherclassid,jdbcType=VARCHAR}, #{openflg,jdbcType=CHAR}, 
      #{addtimestamp,jdbcType=TIMESTAMP}, #{adduserkey,jdbcType=VARCHAR}, #{updtimestamp,jdbcType=TIMESTAMP}, 
      #{upduserkey,jdbcType=VARCHAR}, #{updpgmid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.org.oztt.entity.TGoodsClassfication" >
    insert into t_goods_classification
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="no != null" >
        no,
      </if>
      <if test="classid != null" >
        classId,
      </if>
      <if test="classname != null" >
        className,
      </if>
      <if test="sortorder != null" >
        sortOrder,
      </if>
      <if test="fatherclassid != null" >
        fatherClassId,
      </if>
      <if test="openflg != null" >
        openFlg,
      </if>
      <if test="addtimestamp != null" >
        addTimestamp,
      </if>
      <if test="adduserkey != null" >
        addUserKey,
      </if>
      <if test="updtimestamp != null" >
        updTimestamp,
      </if>
      <if test="upduserkey != null" >
        updUserKey,
      </if>
      <if test="updpgmid != null" >
        updPgmId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="no != null" >
        #{no,jdbcType=BIGINT},
      </if>
      <if test="classid != null" >
        #{classid,jdbcType=VARCHAR},
      </if>
      <if test="classname != null" >
        #{classname,jdbcType=VARCHAR},
      </if>
      <if test="sortorder != null" >
        #{sortorder,jdbcType=INTEGER},
      </if>
      <if test="fatherclassid != null" >
        #{fatherclassid,jdbcType=VARCHAR},
      </if>
      <if test="openflg != null" >
        #{openflg,jdbcType=CHAR},
      </if>
      <if test="addtimestamp != null" >
        #{addtimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="adduserkey != null" >
        #{adduserkey,jdbcType=VARCHAR},
      </if>
      <if test="updtimestamp != null" >
        #{updtimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="upduserkey != null" >
        #{upduserkey,jdbcType=VARCHAR},
      </if>
      <if test="updpgmid != null" >
        #{updpgmid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.org.oztt.entity.TGoodsClassfication" >
    update t_goods_classification
    <set >
      <if test="classid != null" >
        classId = #{classid,jdbcType=VARCHAR},
      </if>
      <if test="classname != null" >
        className = #{classname,jdbcType=VARCHAR},
      </if>
      <if test="sortorder != null" >
        sortOrder = #{sortorder,jdbcType=INTEGER},
      </if>
      <if test="fatherclassid != null" >
        fatherClassId = #{fatherclassid,jdbcType=VARCHAR},
      </if>
      <if test="openflg != null" >
        openFlg = #{openflg,jdbcType=CHAR},
      </if>
      <if test="addtimestamp != null" >
        addTimestamp = #{addtimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="adduserkey != null" >
        addUserKey = #{adduserkey,jdbcType=VARCHAR},
      </if>
      <if test="updtimestamp != null" >
        updTimestamp = #{updtimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="upduserkey != null" >
        updUserKey = #{upduserkey,jdbcType=VARCHAR},
      </if>
      <if test="updpgmid != null" >
        updPgmId = #{updpgmid,jdbcType=VARCHAR},
      </if>
    </set>
    where no = #{no,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.org.oztt.entity.TGoodsClassfication" >
    update t_goods_classification
    set classId = #{classid,jdbcType=VARCHAR},
      className = #{classname,jdbcType=VARCHAR},
      sortOrder = #{sortorder,jdbcType=INTEGER},
      fatherClassId = #{fatherclassid,jdbcType=VARCHAR},
      openFlg = #{openflg,jdbcType=CHAR},
      addTimestamp = #{addtimestamp,jdbcType=TIMESTAMP},
      addUserKey = #{adduserkey,jdbcType=VARCHAR},
      updTimestamp = #{updtimestamp,jdbcType=TIMESTAMP},
      updUserKey = #{upduserkey,jdbcType=VARCHAR},
      updPgmId = #{updpgmid,jdbcType=VARCHAR}
    where no = #{no,jdbcType=BIGINT}
  </update>
  
  <select id="getAllClassByParam" resultMap="BaseResultMap" parameterType="java.lang.String">
    select 
    <include refid="Base_Column_List" />
	FROM
		t_goods_classification
	WHERE
		fatherClassId = #{fatherClassId,jdbcType=VARCHAR}
  </select>
  
  
  <select id="getGoodsClassficationByClassId" resultMap="BaseResultMap" parameterType="java.lang.String">
    select 
    <include refid="Base_Column_List" />
	FROM
		t_goods_classification
	WHERE
		classId = #{classid,jdbcType=VARCHAR}
  </select>
  
  <select id="getAllClassficationForAdmin" resultType="com.org.oztt.formDto.OzTtAdClDto">
    select 
    A.no, 
    A.classId, 
    A.className, 
    A.sortOrder, 
    A.fatherClassId, 
    B.className as fatherClassName,
    A.openFlg
	FROM
		t_goods_classification A
	left join t_goods_classification B
	ON A.fatherClassId = B.classId
  </select>
  
  <select id="getMaxClassNo" resultType="java.lang.String" parameterType="map">
    select 
    max(classId) as maxClassID
	FROM
		t_goods_classification
	<if test="fatherId == null or fatherId == ''" >
	where fatherClassId = '0C0000'
	</if>
	
  </select>
  
  <select id="getSecondClassfication" resultMap="BaseResultMap" parameterType="java.lang.String">
    select 
    <include refid="Base_Column_List" />
	FROM
		t_goods_classification
	WHERE
		fatherClassId <![CDATA[ <> ]]> #{classId,jdbcType=VARCHAR}
  </select>
  
</mapper>