<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.org.oztt.dao.TNoTransactionDao" >
  <resultMap id="BaseResultMap" type="com.org.oztt.entity.TNoTransaction" >
    <id column="no" property="no" jdbcType="BIGINT" />
    <result column="date" property="date" jdbcType="VARCHAR" />
    <result column="maxNo" property="maxno" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    no, date, maxNo
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_no_transaction
    where no = #{no,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_no_transaction
    where no = #{no,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.org.oztt.entity.TNoTransaction" >
    insert into t_no_transaction (no, date, maxNo
      )
    values (#{no,jdbcType=BIGINT}, #{date,jdbcType=VARCHAR}, #{maxno,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.org.oztt.entity.TNoTransaction" >
    insert into t_no_transaction
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="no != null" >
        no,
      </if>
      <if test="date != null" >
        date,
      </if>
      <if test="maxno != null" >
        maxNo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="no != null" >
        #{no,jdbcType=BIGINT},
      </if>
      <if test="date != null" >
        #{date,jdbcType=VARCHAR},
      </if>
      <if test="maxno != null" >
        #{maxno,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.org.oztt.entity.TNoTransaction" >
    update t_no_transaction
    <set >
      <if test="date != null" >
        date = #{date,jdbcType=VARCHAR},
      </if>
      <if test="maxno != null" >
        maxNo = #{maxno,jdbcType=VARCHAR},
      </if>
    </set>
    where no = #{no,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.org.oztt.entity.TNoTransaction" >
    update t_no_transaction
    set date = #{date,jdbcType=VARCHAR},
      maxNo = #{maxno,jdbcType=VARCHAR}
    where no = #{no,jdbcType=BIGINT}
  </update>
  
  <select id="getMaxTransactionNo" resultType="com.org.oztt.entity.TNoTransaction">
		select
		<include refid="Base_Column_List" />
		from t_no_transaction
		where maxNo = (select max(maxNo) from
		t_no_transaction)
	</select>
</mapper>