<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.org.oztt.dao.TSysValidateMessageDao" >
  <resultMap id="BaseResultMap" type="com.org.oztt.entity.TSysValidateMessage" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="telNumber" property="telnumber" jdbcType="VARCHAR" />
    <result column="validateCode" property="validatecode" jdbcType="VARCHAR" />
    <result column="createTimestamp" property="createtimestamp" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, telNumber, validateCode, createTimestamp
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_sys_validate_message
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_sys_validate_message
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.org.oztt.entity.TSysValidateMessage" >
    insert into t_sys_validate_message (id, telNumber, validateCode, 
      createTimestamp)
    values (#{id,jdbcType=BIGINT}, #{telnumber,jdbcType=VARCHAR}, #{validatecode,jdbcType=VARCHAR}, 
      #{createtimestamp,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.org.oztt.entity.TSysValidateMessage" >
    insert into t_sys_validate_message
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="telnumber != null" >
        telNumber,
      </if>
      <if test="validatecode != null" >
        validateCode,
      </if>
      <if test="createtimestamp != null" >
        createTimestamp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="telnumber != null" >
        #{telnumber,jdbcType=VARCHAR},
      </if>
      <if test="validatecode != null" >
        #{validatecode,jdbcType=VARCHAR},
      </if>
      <if test="createtimestamp != null" >
        #{createtimestamp,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.org.oztt.entity.TSysValidateMessage" >
    update t_sys_validate_message
    <set >
      <if test="telnumber != null" >
        telNumber = #{telnumber,jdbcType=VARCHAR},
      </if>
      <if test="validatecode != null" >
        validateCode = #{validatecode,jdbcType=VARCHAR},
      </if>
      <if test="createtimestamp != null" >
        createTimestamp = #{createtimestamp,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.org.oztt.entity.TSysValidateMessage" >
    update t_sys_validate_message
    set telNumber = #{telnumber,jdbcType=VARCHAR},
      validateCode = #{validatecode,jdbcType=VARCHAR},
      createTimestamp = #{createtimestamp,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="getInfoByPhone" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_sys_validate_message
    where telNumber = #{telnumber,jdbcType=VARCHAR}
  </select>
  
  
</mapper>