<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.org.oztt.dao.TSysRoleDao" >
  <resultMap id="BaseResultMap" type="com.org.oztt.entity.TSysRole" >
    <id column="no" property="no" jdbcType="BIGINT" />
    <result column="roleNo" property="roleno" jdbcType="VARCHAR" />
    <result column="roleName" property="rolename" jdbcType="VARCHAR" />
    <result column="roleDesc" property="roledesc" jdbcType="VARCHAR" />
    <result column="openFlg" property="openflg" jdbcType="CHAR" />
    <result column="addTimestamp" property="addtimestamp" jdbcType="TIMESTAMP" />
    <result column="addUserKey" property="adduserkey" jdbcType="VARCHAR" />
    <result column="updTimestamp" property="updtimestamp" jdbcType="TIMESTAMP" />
    <result column="updUserKey" property="upduserkey" jdbcType="VARCHAR" />
    <result column="updPgmId" property="updpgmid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    no, roleNo, roleName, roleDesc, openFlg, addTimestamp, addUserKey, updTimestamp, 
    updUserKey, updPgmId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_sys_role
    where no = #{no,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_sys_role
    where no = #{no,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.org.oztt.entity.TSysRole" >
    insert into t_sys_role (no, roleNo, roleName, 
      roleDesc, openFlg, addTimestamp, 
      addUserKey, updTimestamp, updUserKey, 
      updPgmId)
    values (#{no,jdbcType=BIGINT}, #{roleno,jdbcType=VARCHAR}, #{rolename,jdbcType=VARCHAR}, 
      #{roledesc,jdbcType=VARCHAR}, #{openflg,jdbcType=CHAR}, #{addtimestamp,jdbcType=TIMESTAMP}, 
      #{adduserkey,jdbcType=VARCHAR}, #{updtimestamp,jdbcType=TIMESTAMP}, #{upduserkey,jdbcType=VARCHAR}, 
      #{updpgmid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.org.oztt.entity.TSysRole" >
    insert into t_sys_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="no != null" >
        no,
      </if>
      <if test="roleno != null" >
        roleNo,
      </if>
      <if test="rolename != null" >
        roleName,
      </if>
      <if test="roledesc != null" >
        roleDesc,
      </if>
      <if test="openflg != null" >
        openFlg,
      </if>
      <if test="addtimestamp != null" >
        addTimestamp,
      </if>
      <if test="adduserkey != null" >
        addUserKey,
      </if>
      <if test="updtimestamp != null" >
        updTimestamp,
      </if>
      <if test="upduserkey != null" >
        updUserKey,
      </if>
      <if test="updpgmid != null" >
        updPgmId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="no != null" >
        #{no,jdbcType=BIGINT},
      </if>
      <if test="roleno != null" >
        #{roleno,jdbcType=VARCHAR},
      </if>
      <if test="rolename != null" >
        #{rolename,jdbcType=VARCHAR},
      </if>
      <if test="roledesc != null" >
        #{roledesc,jdbcType=VARCHAR},
      </if>
      <if test="openflg != null" >
        #{openflg,jdbcType=CHAR},
      </if>
      <if test="addtimestamp != null" >
        #{addtimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="adduserkey != null" >
        #{adduserkey,jdbcType=VARCHAR},
      </if>
      <if test="updtimestamp != null" >
        #{updtimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="upduserkey != null" >
        #{upduserkey,jdbcType=VARCHAR},
      </if>
      <if test="updpgmid != null" >
        #{updpgmid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.org.oztt.entity.TSysRole" >
    update t_sys_role
    <set >
      <if test="roleno != null" >
        roleNo = #{roleno,jdbcType=VARCHAR},
      </if>
      <if test="rolename != null" >
        roleName = #{rolename,jdbcType=VARCHAR},
      </if>
      <if test="roledesc != null" >
        roleDesc = #{roledesc,jdbcType=VARCHAR},
      </if>
      <if test="openflg != null" >
        openFlg = #{openflg,jdbcType=CHAR},
      </if>
      <if test="addtimestamp != null" >
        addTimestamp = #{addtimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="adduserkey != null" >
        addUserKey = #{adduserkey,jdbcType=VARCHAR},
      </if>
      <if test="updtimestamp != null" >
        updTimestamp = #{updtimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="upduserkey != null" >
        updUserKey = #{upduserkey,jdbcType=VARCHAR},
      </if>
      <if test="updpgmid != null" >
        updPgmId = #{updpgmid,jdbcType=VARCHAR},
      </if>
    </set>
    where no = #{no,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.org.oztt.entity.TSysRole" >
    update t_sys_role
    set roleNo = #{roleno,jdbcType=VARCHAR},
      roleName = #{rolename,jdbcType=VARCHAR},
      roleDesc = #{roledesc,jdbcType=VARCHAR},
      openFlg = #{openflg,jdbcType=CHAR},
      addTimestamp = #{addtimestamp,jdbcType=TIMESTAMP},
      addUserKey = #{adduserkey,jdbcType=VARCHAR},
      updTimestamp = #{updtimestamp,jdbcType=TIMESTAMP},
      updUserKey = #{upduserkey,jdbcType=VARCHAR},
      updPgmId = #{updpgmid,jdbcType=VARCHAR}
    where no = #{no,jdbcType=BIGINT}
  </update>
</mapper>